<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamadaDados.Properties.Settings.MBRMESSTOCKRelatorioBuscarTipoInventario"
            connectionString="Data Source=10.127.65.178;Initial Catalog=MBRMESSTOCK;Persist Security Info=True;User ID=mbrmobis;Password=MbrMes01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>